*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(244, 244, 246);
    /*距离顶部44px*/
    padding-top: 44px;
    padding-bottom: 49px;
}

.DS_header{
    background: rgb(40, 133, 246);
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: white;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    z-index: 1;
}

.DS_second_section img{
    width: 100%;
}

.BP_first_section{
    display: table;
    width: 100%;
    background: rgb(244, 244, 246);
    height: 44px;

    top: 44px;
    position: fixed;
}

.BP_first_section a{
    display: table-cell;
    width: 33.3%;
    text-decoration: none;

    text-align: center;
    vertical-align: middle;
}

.BP_first_section a span{
    color: black;
}

.BP_external_div{
    background: white;
    text-align: center;
}

.BP_span{
    font-size: 14px;
}

.BP_img{
    width: 100%;
}

.BP_first_p{
    font-size: 10px;
    color:gray;
}

.BP_external_div_sec {
    text-align: center;
}

.BP_inner_div{
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
    color: gray;
    line-height: 2em;
}


footer{
    display: table;
    width: 100%;
    height: 49px;
    position:fixed;
    bottom: 0;
}

footer a{
    color: white;
    text-decoration: none;
    background: rgb(40, 133, 246);
    text-align: center;
    display: table-cell;
    width:20%;
    vertical-align: middle;
}

footer a img{
    width:18px;
}

footer a span{
    display: block;
    font-size:12px;
}
